<nav class="navbar board">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 flex align-item" >
        <ul >
          <li>
            <div class="dropdown">
              <button
                class="board-name-btn"
                type="button"
                (click)="handleOpenDropdown((isOpenDropdown[0]?.name))"
              >
                <strong class="board-name">{{clickedBoard?.name || 'Board' || ownerName}}</strong>
                <fa-icon [icon]="faPencil" class="edit-icon"></fa-icon>
              </button>

              <div
                class="menu-dropdown board-edit-dropdown"
                [ngClass]="{'show': isEditingBoardName}"
                *ngIf="isEditingBoardName"
              >
                <div class="dropdown-header">
                  <strong>Board</strong>
                  <button
                    type="button"
                    class="btn-close"
                    (click)="handleCloseEditBoardName()"
                  ></button>
                </div>
                <div class="dropdown-body">
                  <label for="boardNameInput">Name</label>
                  <input
                    type="text"
                    id="boardNameInput"
                    class="form-control"
                    [(ngModel)]="editedBoardName"
                    (keydown.enter)="handleUpdateBoardName()"
                    (keydown.escape)="handleCloseEditBoardName()"
                  />
                  <button
                    class="btn btn-success mt-2 w-100"
                    (click)="handleUpdateBoardName()"
                  >
                    Update
                  </button>
                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="dropdown">
              <button
                class="dropdown-board"
                type="button"
                (click)="handleOpenDropdown(isOpenDropdown[1]?.name)"
                [style.color]="'darkred'"
              >
                <span class="fa user">{{ownerInitials}}</span>
              </button>
              <div class="menu-dropdown menu-dropdown-start showCollector" [ngClass]="{'show': isOpenDropdown[1]?.isDropdown}" *ngIf="isOpenDropdown[1]?.isDropdown">
                <app-show-admin
                  [ownerName]="ownerName"
                  [ownerInitials]="ownerInitials"
                  (closeMemberModal)="handleCloseDropdown(isOpenDropdown[1]?.name)"
                  (clickOutside)="handleCloseDropdown($event)"
                ></app-show-admin>
              </div>
            </div>
          </li>
          <li *ngFor="let item of members; let i = index ;">
            <div class="dropdown" >
              <button
                class="dropdown-board"
                type="button"
                (click)="handleOpenDropdown(item?.memberEmail)"
                [style.color]="memberColors![i] "
              >
                <span class="fa user">{{item?.memberEmail | character}}</span>
              </button>
              <div class="menu-dropdown menu-dropdown-start showCollector" [ngClass]="{'show': isOpenDropdown[4+i]?.isDropdown}" *ngIf="isOpenDropdown[4+i]?.isDropdown">
                <app-show-member
                  [getBoardId]="boardId"
                  [memberData]="memberEdit"
                  (closeMemberModal)="handleCloseDropdown(item?.memberEmail)"
                  (clickOutside)="handleCloseDropdown($event)"
                ></app-show-member>
              </div>
            </div>
          </li>

          <li  *ngIf="members && members.length > 0">
            <div class="dropdown" >
              <button
                class="dropdown-board"
                type="button"
                (click)="handleOpenDropdown(isOpenDropdown[2]?.name)"
              >
                <span class="numberOfMember">{{numberOfMember}}</span>
              </button>
              <div class="menu-dropdown menu-dropdown-start showinviteMember" [ngClass]="{'show': isOpenDropdown[2]?.isDropdown}" *ngIf="isOpenDropdown[2]?.isDropdown">
                <app-search-member
                  [getBoardId]="boardId"
                  [memberData]="memberEmails"
                  [ownerName]="ownerName"
                  [ownerInitials]="ownerInitials"
                  (closeSearchMemberDP)="handleCloseDropdown(isOpenDropdown[2]?.name)"
                  (clickOutside)="handleCloseDropdown($event)"
                  (openSearchMemberDP)="handleOpenDropdown($event)"
                ></app-search-member>
              </div>
            </div>
          </li>

          <li>
            <div class="dropdown" >
              <button
                class="dropdown-board"
                type="button"
                (click)="handleOpenDropdown(isOpenDropdown[3]?.name)"
              >
                <fa-icon [icon]="faPlus"></fa-icon>
              </button>
              <div class="menu-dropdown menu-dropdown-start showinviteMember" [ngClass]="{'show': isOpenDropdown[3]?.isDropdown}" *ngIf="isOpenDropdown[3]?.isDropdown">
                <app-invite-member
                  [getBoardId]="boardId"
                  (closeInviteModal)="handleCloseDropdown(isOpenDropdown[3]?.name)"
                  (isCompleteEmailChange)="onIsCompleteEmailChange($event)"
                  (clickOutside)="handleCloseDropdown($event)"
                >
                </app-invite-member>
              </div>
            </div>
          </li>
        </ul>
        <!-- Delete section - only for owner -->
        <ul *ngIf="isOwner">
          <hr class="mt-3 mb-2">

          <!-- Confirmation delete inline -->
          <div *ngIf="!isConfirmDelete">
            <button
              class="btn btn-delete w-100"
              type="button"
              (click)="handleDeleteBoard()"
            >
              Delete Board
            </button>
          </div>

          <div *ngIf="isConfirmDelete" class="confirm-delete-zone">
            <p class="text-danger fw-semibold mb-2">
              Delete this board? This action cannot be undone.
            </p>
            <div class="d-flex gap-2">
              <button
                class="btn btn-outline-secondary flex-fill"
                type="button"
                (click)="handleCancelDelete()"
              >
                Cancel
              </button>
              <button
                class="btn btn-danger flex-fill"
                type="button"
                (click)="handleConfirmDelete()"
              >
                Confirm
              </button>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </div>
</nav>


<app-column
  *ngIf="clickedBoard"
  [clikedBoard]="currentBoard"
></app-column>



<app-alert
  *ngIf="isAlert"
  (cancel)="handleCancel()"
  (discard)="handleCloseDropdown(isOpenDropdown[2]?.name)"
></app-alert>

