# JWT Configuration
JWT_SECRET=uEX3bUUEJxr3LraDB0yLaqTMpSHN+3p8zcQobRYBOQaFlf3IVl/GFLShjAfZLX3mgMXAiEEKWMG9uUcPmEfp1A==
JWT_ACCESS_EXPIRATION=3600000
JWT_REFRESH_EXPIRATION=604800000

# Database Configuration
DB_URL=jdbc:mysql://localhost:3309/tododb
DB_USERNAME=appTodo
DB_PASSWORD=your-database-password-here

# CORS Configuration
ALLOWED_ORIGINS=http://localhost:4200,http://localhost:8081

# Server Configuration
SERVER_PORT=8081