# JWT Configuration
JWT_SECRET=
JWT_ACCESS_EXPIRATION=
JWT_REFRESH_EXPIRATION=

# Database Configuration
DB_URL=jdbc:mysql://localhost:........./tododb
DB_USERNAME=appTodo
DB_PASSWORD=your-database-password-here

# CORS Configuration
ALLOWED_ORIGINS=http://localhost:4200,http://localhost:8081

# Server Configuration
SERVER_PORT=8081