.dropdown-header {
    background-color: #f4f4f4;
    height: 2.5rem;
    padding-top: 7px;
}

.dropdown-header > .title {
    width: 100%;
    text-align: center;
    color: black;
}

.body-dropdown {
    background-color: #fff;
}

.dropdown-btn-previous {
    background-color: transparent;
    border: none;
    color: #444;
}

.btn-close {
    background-color: transparent;
    font-size: 15px;
    transition: background-color 0.3s ease;
    outline: none;
    box-shadow: none;
    width: 22px;
    height: 22px;
    margin-right: 10px;
}

.btn-close:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    width: 22px;
    height: 22px;
    transition: none;
}

.dropdown-btn-previous{
    outline: none;
    box-shadow: none;
    width: 29px;
    height: 29px;
}

.dropdown-btn-previous:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    width: 29px;
    height: 29px;
    transition: none;
}

.search {
    width: 99%;
    margin: 0.5rem 0.5rem 0.5rem 0.23rem;
    outline: none;
    background-color: #fff;
}

.search:active,
.search:focus {
    border: 0px solid #cbcccc;
}

.form-inline {
    margin-left: 7px;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul > li {
    border: 1px solid #ccc;
    margin: 0px;
    padding: 0px;
}

.search {
    border: 0px;
    padding: 0px 9px 0px 9px;
}

.dropdown-item{
    display: block;
    width: 100%;
    padding: 5px 9px 5px 9px;
    clear: both;
    font-weight: 400;
    color: #000;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-item:hover {
    background-color: #f0efef;
}

.dropdown-item:focus{
    background-color: #f0efef;
}


.icons-member {
    font-size: 12px;
    width: 2rem;
    height: 2rem;
    border: 0.5px solid rgba(0, 0, 0, .35);
    border-radius: 50%;
    text-align: center;
    margin-right: 1rem;
    color: darkred;
    position: relative;
    top: 2px;
    left: 4px;
}

.member-content{
    font-size: 15px;
}

.user {
    position: relative;
    top: 5px;
    left: 1px;
    font-size: 12px;
    font-weight: bold;
}

.role {
    color: gray;
    margin: 0px;
    text-decoration: none;
}

.body-dropdown-2{
    padding: 10px 0px 15px 15px;
}
